using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Runtime.Serialization.Formatters;
using System.Text;
using System.Threading;
using System.Windows.Forms;
using System.Resources;

namespace ЛР1
{
    public partial class Form1 : Form
    {
        abstract class Figure
        {
            public abstract Bitmap bitmap { get; set; }
            public abstract void Create(Size size);
            public abstract void Move(int x, int y, PictureBox pb);
        }
        class Zvezda : Figure
        {
            public override Bitmap bitmap { get; set; }
            public override void Create(Size size)
            {
                bitmap = new Bitmap(Properties.Resources.star, size);
            }
            public override void Move(int x, int y, PictureBox pb)
            {
                pb.Location = new Point(x, y);
            }
        }
        class Smailik1 : Figure
        {
            public override Bitmap bitmap { get; set; }
            public override void Create(Size size)
            {
                bitmap = new Bitmap(Properties.Resources.images,size);
            }
            public override void Move(int x, int y, PictureBox pb)
            {
                pb.Location = new Point(x, y);
            }
            public virtual bool type()
            {
                return false;
            }
        }
        class Smailik2 : Smailik1
        {
            public override Bitmap bitmap { get; set; }
            public override void Create(Size size)
            {
                bitmap = new Bitmap(Properties.Resources._572570, size);
            }
            public override void Move(int x, int y, PictureBox pb)
            {
                pb.Location = new Point(x, y);
            }
            public override bool type()
            {
                return true;
            }
        }





        private List<Figure> figur = new List<Figure>();
        private List<PictureBox> pictureBox = new List<PictureBox>();
        private List<int> nomera = new List<int>();
        private delegate void PaintDelegate(int x, int y);
        private event PaintDelegate NewPaintEventPaint;
        public int type=1;

        public Form1()
        {
            InitializeComponent();
            NewPaintEventPaint += OnPaint;
        }
        private void OnRbtnClick(object sender, EventArgs e)
        {
            var obj = (RadioButton)sender;
            switch (obj.Text.ToString())
            {
                case "Звездочка": type = 1;  break;
                case "Смайлик №2": type = 2;  break;
                case "Смайлик №1": type = 3;  break;
                
            }
        }
        private void OnMouseClick(object sender, MouseEventArgs e)
        {
            int x = e.X-50;
            int y = e.Y-50;
            if (e.Button == MouseButtons.Left)
                NewPaintEventPaint.Invoke(x, y);
        }
        private void OnPaint(int x, int y)
        {
                if (chkBoxDelete.Checked)
                {
                    bool a = true; 
                    int nomer=1,i = 0;
                    if(Star.Checked) nomer=1;
                    if(Smile.Checked) nomer = 2;
                    if(Smile2.Checked) nomer= 3;
                    while (a)
                    {
                        if (i < nomera.Count)
                            if (nomera[i] == nomer)
                            {
                                    this.Controls.Remove(pictureBox[i]);
                                    pictureBox.RemoveAt(i);
                                    nomera.RemoveAt(i);
                            }
                            else i++;
                        else a = false;
                    }
                }
                if (chkBoxPaint.Checked)
                {
                    if(type == 1) figur.Add(new Zvezda());
                else if( type == 2) figur.Add(new Smailik2()); 
                       else figur.Add(new Smailik1());
                    pictureBox.Add(new PictureBox());
                    nomera.Add(type);
                    pictureBox.Last().Location = new Point(x, y);
                    figur.Last().Create(new Size(100, 100));
                    pictureBox.Last().Size = figur.Last().bitmap.Size;
                    this.Controls.Add(pictureBox.Last());
                    pictureBox.Last().Image = figur.Last().bitmap;                    
                }
                if (checkBox1.Checked)
                {
                    bool a = true;
                    int i = 0;
                    while (a)
                    {
                        if (i < nomera.Count)
                            if (figur[i] as Smailik2 !=null)
                            {
                                this.Controls.Remove(pictureBox[i]);
                                pictureBox.RemoveAt(i);
                                nomera.RemoveAt(i);
                            }
                            else i++;
                        else a = false;
                    }
                }
            

        }

        private void PaintChBox_Checked(object sender, EventArgs e)
        {
            var obj = (CheckBox)sender;
            if (obj.Checked)
            {
                chkBoxDelete.Checked = false;
                chkBoxMove.Checked = false;
            }

        }
        private void DeleteChBox_Checked(object sender, EventArgs e)
        {
            var obj = (CheckBox)sender;
            if (obj.Checked)
            {
                chkBoxPaint.Checked = false;
                chkBoxMove.Checked = false;
            }
        }
        private void MoveChBox_Checked(object sender, EventArgs e)
        {
            var obj = (CheckBox)sender;
            if (obj.Checked)
            {
                chkBoxPaint.Checked = false;
                chkBoxDelete.Checked = false;
            }
        }
        private void OnMouseDoubleClick(object sender, MouseEventArgs e)
        {
            bool a = true;
            int nomer = 0, i = 0;
            if (Star.Checked) nomer = 1;
            if (Smile.Checked) nomer = 2;
            if (Smile2.Checked) nomer = 3;
            while (a)
            {
                if (i < nomera.Count)
                    if (nomera[i] == nomer)
                    {
                        if ((chkBoxMove.Checked) && (pictureBox.Count != 0))
                            figur[i].Move(e.X - 50, e.Y - 50, pictureBox[i]);
                        i++;
                    }
                    else i++;
                else a = false;
            }
        }
    }
}
